* {
    background-image: url(resources/); 
}

.title {
    font-family: 'Roboto Mono', monospace;
    font-size: 50px;
    text-align: center;
    border: solid;
    border-color: Black;
    border-width: 2px;
}