.rules-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

.rules-list {
    border
    display : flex; 
    justify-content: center;
    align-items : center; 
}

.rules-message {
    font-size: 25px;
    color : #03c07b; 
    font-family: 'Roboto Mono', monospace;
  }


